{% load static %}   

<html>
<head>
    <link rel="stylesheet"  href="{% static 'core/base.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $( "#some_flag" ).dialog({
                    modal: true,
                    closeOnEscape: false,
                    dialogClass: "no-close",
                    resizable: false,
                    draggable: false,
                    width: 600,
                    buttons: [
                        {
                            text: "OK",
                            click: function() {
                            $( this ).dialog( "close" );
                            }
                        }
                    ]
                });
            });
        });
    </script>
    <title>Cepeguel</title>
<style>
body{
    background-color: whitesmoke;
}
</style>

</head>

<body>
<div class="pagina">
    <div class="navbar">
        <div class="divBusca">
            <input id="txtBusca" placeholder="Buscar..."/>
            <button id="btnBusca">Buscar</button>
        </div>

        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='../../../../../../../modalidades'">Modalidades</button>
        </div>
        {% if request.user.is_authenticated %}
        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='../../../../../../../cestadeprodutos'">Cesta</button>
        </div>
        {% endif %}
        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='../../../../../../../'">Menu</button>
        </div>
        {% if request.user.is_authenticated %}
        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='{% url 'logout' %}'">Sair</button>
        </div>
        <div class="textodanavbar">
            Olá, {{ request.user.first_name }} 
       </div>
        {% else %}
        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='{% url 'cadastro' %}'">Cadastro</button>
        </div> 
        <div class="textodanavbar">
            <button class="botao botao1" onclick="document.location='{% url 'login' %}'">Login</button>
        </div>
        {% endif %}

    </div>

      {% block content %}
      {% endblock %}

    <div class="footer">
        Cepeguel    2020
    </div>
</div>

</body>
</html>