{% extends 'core/base.html' %}

{% block content %}



<title>Cesta de produtos</title>
<div class='paginacesta'>
    <div class='gridcesta'>
        <div class='gridartigos'>
            {% for item in obj%}  
            <div class='artigo'>    
                <div class='fotoartigo'>
                foto
                </div>
                <div class='textoartigo'>
                    Nome
                </div>
            </div>
            {% endfor %}    

        </div>
    </div>
    <div style='margin-top:3%'>
        <button class="button button1" onclick="document.location='../modalidades'">Alugar</button>
      </div>
</div>

{% endblock %}