{% extends 'core/base.html' %}

{% block content %}
<title>Modalidades</title>
<divc class= paginamodalidades>
    <div class= duasmodalidades>
        <div class= modalidade>
            <div class= fotomodalidade>
                aqui vem a foto
            </div>
            <div class= textomodalidade>
                aqui vem o texto
            </div>
        </div>
        <div class= modalidade>
            <div class= fotomodalidade>
                aqui vem a foto
            </div>
            <div class= textomodalidade>
                aqui vem o texto
            </div>
        </div>
    </div>
    <div class= duasmodalidades>
        <div class= modalidade>
            <div class= fotomodalidade>
                aqui vem a foto
            </div>
            <div class= textomodalidade>
                aqui vem o texto
            </div>
        </div>
        <div class= modalidade>
            <div class= fotomodalidade>
                aqui vem a foto
            </div>
            <div class= textomodalidade>
                aqui vem o texto
            </div>
        </div>
    </div>
</div>

{% endblock %}