{% extends 'core/base.html' %}

{% block content %}

<title>Produtos de COLOQUE AQUI O NOME</title>

<div class='gridgeral'>
    <div class='gridartigos'>
        {% for produto in produtos %}
        <div class='artigo', style="height:300px">    
            <div class='fotoartigo'>
                <img src= "{{ produto.foto.url}}", style="width:100%;height:100%">
            </div>
            <div class='textoartigo'>
                <button class="botaoproduto botao1laranja" onclick="document.location='{% url "core:produto" id_antigo2 id_antigo1 produto.id %}'", style="width:100%;height:100%;margin-top:0px;margin-left:0px;border:1px solid black">{{ produto.nome }}</button>
            </div>
            <div class='disponibilidadeartigo'>
                {% if produto.disp %}
                Disponibilidade: Disponível
                {% endif %}
                {% if produto.alug %}
                Disponibilidade: Alugado
                {% endif %}
                {% if produto.rese %}
                Disponibilidade: Reservado
                {% endif %}
            </div>
        </div>
        {% endfor %}    

    </div>
    
</div>


{% endblock %}