{% extends 'core/base.html' %}

{% block content %}

<title>Produtos de COLOQUE AQUI O NOME</title>

<div class='gridgeral'>
    <div class='gridartigos'>
        {% for produto in produtos %}
        <div class='artigo'>    
            <div class='fotoartigo'>
            foto
            </div>
            <div class='textoartigo'>
                <button class="botao botao1laranja" onclick="document.location='{% url "core:produto" id_antigo2 id_antigo1 produto.id %}'", style="width:100%;height:100%;margin-top:0px;margin-left:0px;border:1px solid black">{{ produto.nome }}</button>
            </div>
        </div>
        {% endfor %}    

    </div>
    
</div>


{% endblock %}