{% extends 'core/base.html' %}

{% block content %}

<title>Produtos de COLOQUE AQUI O NOME</title>

<div class='gridgeral'>
    <div class='gridartigos'>
        {% for item in obj %}  
        <div class='artigo'>    
            <div class='fotoartigo'>
            foto
            </div>
            <div class='textoartigo'>       
               <a href="{% url 'core:produto' item.id %}">
                  {{ item.nome }}
               </a>

            </div>
        </div>
        {% endfor %}    

    </div>
    
</div>


{% endblock %}