{% extends 'core/base.html' %}
{% load static %}
{% block scripts %}
<script src={% static 'core/timer.js' %} defer></script>
{% endblock scripts %} 
{% block content %}

<title>Produtos reservados</title>
<div style='text-align:center;color:white;font-size:30px;margin-top:2%;background-color:#4abdac;width:24%;margin-left:38%;border-radius:5px;'>
        <b>Produtos reservados</b>
    </div>
    <div class='gridgeral'>
        <div class='gridartigos'>
            {% for item in reserva %}
            <div class='artigocesta' style="height:300px">    
                <div class='fotoartigocesta'>
                  <img src= "{{ item.prod.foto.url }}", style="width:100%;height:100%">
                </div>
                <div class='textoartigocesta'>
                  {{ item.prod.nome }}
                </div>
            </div>
            {% endfor %}

              

        </div>
    </div>
    {% if reserva1.usuario.is_professor %}
    <div id='event-box' hidden> {{ reserva1.created_at|date:"m d, Y H:i:s" }} </div>
    <div id='event-box-timer' hidden> {{ 18000000 }} </div>
    {% else %}
    <div id='event-box' hidden> {{ reserva1.created_at|date:"m d, Y H:i:s" }} </div>
    <div id='event-box-timer' hidden> {{ 3600000 }} </div>
    {% endif %}
            
    {% if reserva %}
    <div id='timer_css' class='textoartigocesta' style='color:red;font-size:20px;'>
        <b>Tempo até o primeiro item expirar:</b>
        <div id="countdown-box" style = 'color:black;font-size:18px'>
            <div class="spinner-border" role="status">
        </div>
    </div>
    </div>
    {% endif %}
    {% if not reserva %}
    <div style='text-align:center;margin-top:5%'>
        <img src="{% static 'core/imagens/carrinhovazio.png' %}" alt=CEPEguel style="width:400px;height:292px;"">
        <div style='margin-top:2%'><b>Você não reservou nenhum item ainda</b></div>
    </div>
    {% endif %}


{% endblock %}
