<!DOCTYPE html>
<html>
{% block content %}
    <head>
        <title>Menu Principal</title>
    </head>
    <body>
        <table>
        <h1> Menu Principal </h1>
        <tr>
        <th>Nome</th>
        <th>Esporte</th>
        <th>Quantidade Disponível</th>
        </tr>
        {% for i in list %}
        <tr>
        <td>{{ i.nome }}</td>
        <td>{{ i.esporte }}</td>
        <td>{{ i.qtd_disp }}</td>
        <td> <a href='/produto/{{ i.id }}'>Aluguel</a></td>
        <td> <a href="{% url 'produto_update' i.id %}">Update</a></td>
        </tr>
        {% endfor %}
        </table>
        <a href='/form_prod'>Formulário de Produto</a>
    </body>
</html>
{% endblock content %}